PORT=3000
SUPABASE_URL=https://ivhuryzscggamuoyfbmq.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2aHVyeXpzY2dnYW11b3lmYm1xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk4Njg1NSwiZXhwIjoyMDkyNTYyODU1fQ.FAPMmcrZdqDn51E7NzdnnVU-G5ir4xA3gpeHOx7OF8A
REDIS_URL=redis://localhost:6379
